<html lang="fr">
<head>
    <title>Calcul des économies</title>
    <!-- Copyright © 2014 Monotype Imaging Inc. All rights reserved -->
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.3.2/dist/css/orange-helvetica.min.css" rel="stylesheet"
          integrity="sha384-A0Qk1uKfS1i83/YuU13i2nx5pk79PkIfNFOVzTcjCMPGKIDj9Lqx9lJmV7cdBVQZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.3.2/dist/css/boosted.min.css" rel="stylesheet"
          integrity="sha384-fyenpx19UpfUhZ+SD9o9IdxeIJKE6upKx0B54OcXy1TqnO660Qw9xw6rOASP+eir" crossorigin="anonymous">
</head>
<body>
<header role="banner">
    <a id="top"></a>
    <nav class="navbar supra navbar-expand-lg navbar-dark bg-dark" aria-label="Langues alternatives" role="navigation">
        <div class="container">
            <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Français</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Liens utiles" role="navigation">
        <div class="container">
            <div class="navbar-brand text-white">
                <h1 class="title m-0">Calcul des <span class="text-primary">économies</span></h1>
            </div>
        </div>
    </nav>
</header>
<main class="container my-5" role="main">
    <form action="/" method="post">
        {{ form.csrf_token }}

        {% if economiesannuel > 0 and economiesmensuel > 0 %}
            <div class="alert alert-info" role="alert">
                <span class="alert-icon"><span class="visually-hidden">Information</span></span>
                <div>
                    <p>Vous économiserez <strong>{{ economiesannuel }}</strong> euros par an et
                        <strong>{{ economiesmensuel }}</strong> par mois en passant à l'offre
                        <strong>{{ form.offre_nouvelle }}</strong>.</p>
                </div>
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form.offre_actuelle.label(class_="form-label fs-2") }}
            {{ form.offre_actuelle(class_="form-select form-select-lg mb-3") }}
        </div>
        <div class="mb-3">
            {{ form.offre_nouvelle.label(class_="form-label fs-2") }}
            {{ form.offre_nouvelle(class_="form-select form-select-lg mb-3") }}
        </div>
        <div class="mb-3">
            <label for="prix_forfait_mobile" class="form-label fs-2">Prix du forfait mobile</label>
            <input type="text" class="form-control" id="prix_forfait_mobile" name="prix_forfait_mobile">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Calculer</button>
    </form>
</main>
<footer class="footer bg-dark navbar-dark">
    <h2 class="visually-hidden">Sitemap & information</h2>
    <div class="container-xxl footer-terms">
        <ul class="navbar-nav gap-md-3">
            <li class="fw-bold">© Orange 2023</li>
        </ul>
    </div>
</footer>
<script type="text/javascript">
    function getOptionText(selectElement) {
        // Récupère l'élément option sélectionné
        const selectedOption = selectElement.querySelector("option:selected");

        // Retourne le texte de l'option sélectionnée
        return selectedOption ? selectedOption.textContent : "";
    }

    const select = document.getElementById("offre_nouvelle");
    // Récupère l'index de l'option sélectionnée
    const selectedOptionIndex = select.selectedIndex;
    // Retourne le texte de l'option sélectionnée
    const optionText = select.options[selectedOptionIndex].textContent;
    document.getElementById('selectedOffer').innerText = optionText;
</script>
<script src="https://cdn.jsdelivr.net/npm/boosted@5.3.2/dist/js/boosted.bundle.min.js"
        integrity="sha384-+lAXqnipqQpjxMdd/9Hp2GOzB4aIouKEYRZ7AE66h68BDob7UlMLpZY7w7SqrC+M"
        crossorigin="anonymous"></script>
</body>
</html>